// 색상
$main-color: #9733EE;
$sub-color: #f2e5f2;
$login-color: #f4e7e3;
$dashboard-color: #fffcfb;
$dashboard-icon-color: #d6a291;
$step-color: #d8b2d8;
$dark-step-color: #cea193;
$gray-color: #c4c4c4;
$dark-gray-color: #686868;
$hover-color: #9733EE;
$hover-color2: #d8b2d8;