@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MontserratAlternates";
    /* font-size:x-large; */
    font-size:xx-large;
    /* font-weight: 400; */
    src: url('/font/MontserratAlternates-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'GmarketSansTTFMedium';
    font-style: normal;
    font-weight:400;
    src: url('../public/font/GmarketSansTTFMedium.ttf') format("ttf");
}
  
@font-face {
    font-family: 'GmarketSansTTFLight';
    font-style: normal;
    font-weight:400;
    src: url('../public/font/GmarketSansTTFLight.ttf') format("ttf");
}

.choice_btn {
    @apply
    flex w-32 h-7 flex-col 
    rounded-3xl
    items-center mt-3 
    border-2 border-purple-400 text-white bg-purple-400
    hover:text-purple-600
    hover:bg-purple-200
    hover:border-fuchsia-200
    cursor-pointer hover:shadow-lg active:scale-95
    transition transform duration-100 ease-out
}

.font_kor_medium {
    font-family: GmarketSansTTFMedium;
}

.font_kor_light {
    font-family: GmarketSansTTFLight;
}

.font_here {
    font-family: MontserratAlternates;
}

body {
    @apply h-full overflow-x-hidden
}

#__next {
    @apply h-full;
}

html {
    @apply h-full;
}


.logo-image {
    width: 65px;
    height: 65px;
}

.menu-bar {
    @apply flex w-96 h-10 flex-col rounded-xl
    transition duration-300 transform border-2 border-purple-500
    hover:scale-105 hover:shadow-lg hover:bg-purple-400
}

.nav_menu_bar {
    @apply
    items-center pt-1.5 mt-3 menu-bar hover:text-white
}


